<div class="row">
	<div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
	
		<h1 class="tcenter"><%= @workout.date %></h1>
		<h4 class="tcenter"><%= @workout.workout %></h4>
		
		
	</div>
</div>